ul {
list-style-type: none;
padding-right: 0;
}

.background-color-01{
background-color:  #cf112425;
}
.background-color-02{
    background-color: #de911d25;
}
.background-color-03{
    background-color: #00263a25;
}
